<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ot.discovery.mode" value="OT" />
    <add key="ot.discovery.servers" value="http://discovery-prod-euwest1.otenv.com/" />
  </appSettings>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="Newtonsoft.Json" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-6.0.0.8" newVersion="6.0.0.8" />
    </dependentAssembly>
  </assemblyBinding>
</configuration>